{% extends "base.html" %}
{% block title %}Order Fulfilment Status{% endblock %}
{% block content %}
    <header>
        <h1>Order Fulfillment Status</h1>
    </header>
    <div class="container">
        <h2>Your Orders</h2>
        {% if orders %}
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Status</th>
                    <th>Total Amount</th>
                    <th>Order Date</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ order.Customer_order_ID }}</td>
                    <td>{{ order.Status }}</td>
                    <td>{{ order.Total_amount }}</td>
                    <td>{{ order.Order_date }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No orders found.</p>
        {% endif %}
    </div>
    <nav>
        <a href="{{ url_for('routes.view_supplier_information') }}">View Supplier Information</a>
        <a href="{{ url_for('routes.add_product') }}">Add Products to Inventory</a>
        <a href="{{ url_for('routes.manage_products') }}">Product Management</a>
    </nav>
{% endblock %}